* {
	font-family: 'Overpass Mono', monospace;
}

/* p {
	color: grey;
	overflow: hidden;
	height: 50px;
	line-height: 16px;
	position: relative;
	word-wrap: break-word;
} */

li {
	list-style-type: none;
	padding: 1em;
}

img {
	max-width: 20%;
	height: auto;
	border-radius: 25px;
}

.nav-img {
	max-width: 10%;
	height: auto;
	border-radius: 25px;
}

.App {
	text-align: center;
	background-color: lightgrey;
}

.Header {
	background-color: darksalmon;
	padding: 0.2em;
}

.Nav {
	background-color: cornflowerblue;
	padding: 1em;
}

.home-body {
	background-color: lightpink;
	padding: 5em 0 5em 0;
}

.Articles,
.Topics,
.Users,
.Comments {
	background-color: khaki;
	text-align: left;
	padding: 0.5em;
}

.select-label {
	padding: 1em;
}
.select-field {
	padding: 0.5em;
}

.articles-list {
	background-color: cornsilk;
	padding: 1em;
	border-radius: 25px;
	margin-bottom: 1em;
}

.post-topic-form,
.post-article-form,
.select-dropdowns {
	background-color: cornsilk;
	text-align: right;
}

.topics-list {
	background-color: cornsilk;
	padding: 0.5em;
	border-radius: 25px;
	margin-bottom: 1em;
}

.users-list {
	background-color: cornsilk;
	padding: 0.5em;
	border-radius: 25px;
	margin-bottom: 1em;
}
.comments-list {
	background-color: cornsilk;
	padding: 0.5em;
	border-radius: 25px;
	margin-bottom: 1em;
}

.each-article,
.each-topic,
.each-user,
.each-comment {
	padding: 1em;
	background-color: darkseagreen;
	list-style-type: none;
	border-radius: 25px;
}

.each-topic {
	text-align: center;
}

.individual-article {
	padding: 1em;
	background-color: bisque;
	list-style-type: none;
	border-radius: 25px;
}

.individual-user {
	padding: 1em;
	background-color: bisque;
	list-style-type: none;
	border-radius: 25px;
}

.myButton {
	background-color: orange;
	border-radius: 25px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 16px;
	padding: 1% 1.5%;
	text-decoration: none;
	text-shadow: -1px 1px 0px #2b665e;
}
.myButton:hover {
	background-color: #6c7c7c;
}
.myButton:active {
	position: relative;
	top: 1px;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ ;
